/Compendium/Events/*
/Compendium/Groups/*
/Compendium/Locations/*
/Compendium/Modifications/*
/Compendium/NPCs/*
/Compendium/Players/*
/Compendium/Projects/*
/Compendium/Sessions/*
/Assets/Link Database.md
/Assets/Images/*.png